
    <p>user-home works!</p>
<div class=" container" *ngFor="let item of blogs">
<div class="col-md-12 col-lg-12">
<article class="post vt-post">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
            <div class="post-type post-img">
                <a href="#"><img src={{img}} width="130"
                    class="rounded mb-2 img-thumbnail" ></a>
            </div>
            <div class="author-info author-info-2">
                <ul class="list-inline">
                    <li>
                        <div class="info">
                            <p>Posted on:</p>
                            <strong>{{item.createdAt}}</strong>
                        </div>
                    </li>
                    <li>
                        <div class="info">
                           
                            <!-- <strong>127</strong>-->
                        </div> 
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
            <div class="caption">
                <h3 class="md-heading">{{item.title}}</h3>
                <p>{{item.body}}</p>
                <p>{{item.tag}}</p>
              
        </div>
        <div>
            <a class="btn btn-dark" [routerLink]="['/readBlog/',item._id]">view&&Comment</a>

            <a class="btn btn-dark" [routerLink]="['/blog/edit/',item._id]">edit</a>

        </div>
       
    </div>
<!-- </article> -->
</div>






